doctype html
html
	head

		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		
		title Teste

	body
		
		include navbar.pug
		
		h1.display-4.ml-2 PasteBin

		.col-md-12
			textarea.col-md-12.mt-5(id="doc", cols="30", rows="10", type="text")
			
				
			.col-md-12.form-group.form-inline
			
				label Titulo:
				input.form-control.col-md-6.ml-5(type="text", id="titulo")

			.col-md-12.form-group.form-inline
				button.btn.btn-danger.btn-sm#expirabtn(onclick="show()") Expira em:
				select.form-control.ml-3.mt-2#expira.invisible
					option(selected="selected" value="none") nenhum
					option(value="10min") 10 min
					option(value="1hora") 1 hora
					option(value="1dia") 1 dia
					option(value="1semana") 1 semana
					option(value="2semanas") 2 semanas
					option(value="1mes") 1 mes
					option(value="6meses") 6 meses
					option(value="1ano") 1 ano


			button.btn.btn-sm(onclick="save()") Criar nova pasta
		center
			span.text.text-danger.text-center#error



	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
	script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
	//- https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js


	script.

		function save(){

			$.ajax({
				url:"/save",
				data: {
					doc: $('#doc').val(),
					titulo: $('#titulo').val(),
					expira: $('#expira').val()
				},
				success: function(result){
					if(result.err){
						$('#error').html('Documento vazio')
						console.log('erro')
					}else{
						$('#error').html('')
						location.assign('/' + result.link)
					}
				},
				error: function(err){
					console.log(err)
				}
			})
		}

		function show() {
			if($("#expira").hasClass("invisible")){
				$("#expira").removeClass("invisible")
			}else{
				$("#expira").addClass("invisible")
			}
		}

//- - Tráfico não é uniformemente distribuido
//- - Visitas a um link único devem ser rápidas
//- - Documentos são apenas texto.
//- - _Analytics_ não necessitam ser em tempo real.
//- - 10 milhões de usuários.
//- - 10 milhões de escritas/mês.
//- - 100 milhões de lidas/mês.
//- - 10:1 read to write ratio.